html, body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		background: #FFFFFF;
	}
	header {
		background: transparent;
		grid-area: h;
		padding: 0;
        background-color: #0E0E0E;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil abaixo do cabeçalho */
		transition: box-shadow 0.3s ease; /* Suavização da sombra */
	}

	main {
		background: #FFFFFF;
		grid-area: m;
		padding-top: 10px; /* Espaço entre o cabeçalho e o conteúdo principal */
	}
	aside{
		background: transparent;
		grid-area: a;
	}
	main{
		max-height: 100%; /* Limite a altura para evitar excesso de espaço */
		overflow: hidden; /* Evita que o conteúdo ultrapasse o limite */
		background: linear-gradient(to bottom, #f7f6f6 20%, #f7f6f6 20%, #ffffff 30%);
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 20px; /* Verifique se isso está criando espaço extra */
	}	
	aside{
		display: flex;
		justify-content: right;
		align-items: center;
		border-bottom: 10px solid #ccc;
		background-color: #f7f6f6;
		border: none; /* Remoção da borda padrão */
		color: white; /* Cor do texto */
		box-shadow: 0px px 10px rgba(0, 10, 0, 0.25); /* Sombra para profundidade */
		transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
	}
	footer{
		grid-area: f;
		display: none; /* Oculta o footer por padrão */
		padding: 0;
		margin: 0; /* Garantir que não há margem extra */
		box-shadow: none; /* Remover sombra */
	}
	p{
		text-align: center;
	}
	a{
		text-decoration:none;
		color:black;	
	}
	/* Para ajustar a sombra ao rolar a página */
	.container {
		display: grid;
		grid-template-columns: 7fr 3fr;
		grid-template-rows: 11ch 1fr auto; /* Ajuste as alturas das linhas */
		grid-template-areas:
			"a h"
			"m m"
			"f f";
		height: 100vh; /* Garantir que o contêiner ocupa a altura total */
	}
	.container::-webkit-scrollbar {
		width: 8px;
	}

	.container::-webkit-scrollbar-thumb {
		background-color: #a0032e;
		border-radius: 10px;
	}
	/**/
	/*formulario Cadastro*/
	.form-cadastro{
		display: flex;
		align-items: center;
		justify-self: center;
		width: 38ch;
		height:auto;
		border-radius: 3%;
		background-image: url('/IMG/fundo_form.png');
		background-size: cover;        /* Faz a imagem cobrir toda a div */
		background-position: center;   /* Centraliza a imagem */
		background-repeat: no-repeat;  /* Evita repetição da imagem */
		margin: 0;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-self: center;
		box-shadow: 10;
	}
	#logocadastro{
		width: 10   0px;
		height: 100px;
        background-color: #ce2125;
		border-radius: 15%;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Sombra para profundidade */

	}
	.imgcadastro{
		display: flex;
		justify-content: center;
	}
	.cadastrese{
		display: flex;
		justify-content: center;
		font-family: Open Sans, #ffffff;
		font-style: normal;
		font-size: 35px;
	}
	.box{
		width: 250px;
		background-color: transparent;
		padding: 30px;
		font-size: 17px;
		position: relative;
	}
	.box .input-data{
		width: 100%;
		height: 20px;
		background-color: transparent;
		position: relative;
	}
	.box .input-data input{
		position: relative;
		background-color: transparent;
		width: 100%;
		height: 20px;
		border: 0;
		border-bottom: 2px solid black;
	}
	textarea:focus, input:focus, select:focus {
		box-shadow: 0 0 0 0;
		border: 0 none;
		outline: 0;
	}
	.input-data input:focus ~ label,
	.input-data input:valid ~ label{
		transform: translateY(-20px);
		font-size: 15px;
		color: black;
	}
	.box .input-data label {
		position: absolute;
		bottom: 2px;
		left: 0;
		color: black;
		font-family: Poppins;
		transition: 0.3s;
	}
	#cb{
		margin-left: 30px;
	}

	#btcadastro {
		width: 250px;
		height: 60px; /* Aumentado para dar mais altura ao botão */
		margin-left: 10px;
		background-color: #a0032e;
		font-family: 'Courier New', Courier, monospace;
		font-size: 25px;
		cursor: pointer;
		border-radius: 30px; /* Maior arredondamento */
		border: none; /* Remoção da borda padrão */
		color: white; /* Cor do texto */
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Sombra para profundidade */
		transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
	}

	#btcadastro:hover {
		background-color: #ca0439; /* Cor ao passar o mouse */
		transform: scale(1.05); /* Leve aumento ao hover */
	}

	#btcadastro:active {
		transform: scale(0.95); /* Efeito de "apertar" ao clicar */
	}

	.esqueci{
		text-align: center;
		display: flex;
		justify-content: center;
	}
	#esqueci{
		font-family: Open Sans, #000000;
		font-style: normal;
	}
	.boximgname{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: right;
		align-items: center;
		border-bottom: 2px solid #ccc;
		background-color: #f7f6f6;
		border: none; /* Remoção da borda padrão */
		color: white; /* Cor do texto */
		box-shadow: 0px 4px 10px rgba(0, 10, 0, 0.25); /* Sombra para profundidade */
		transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
	}
	#imgname{
		height: 45%;
		max-width: 100%;
		object-fit: cover;
		padding-right: 7ch;
	}
	.ghj{
		width: 100%;
		height: 100%;
		background-color: #ca0439;
	}
	.boxfoo{
		width: 100%;
		height: 100%;
		background-color: #ca0439;

	}
	.ball {
		position: absolute;
		bottom: -50px; /* As bolinhas começam abaixo da tela */
		width: 20px;
		height: 20px;
		background-color: #0E0E0E;
		border-radius: 50%;
		animation: moveUp 10s linear infinite;
		opacity: 0.8;
	  }
	  
	  @keyframes moveUp {
		0% {
		  transform: translateY(0);
		}
		100% {
		  transform: translateY(-110vh); /* As bolinhas saem do topo da tela */
		}
	  }
	  .iframe-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2; /* Deve estar acima do iframe */
		display: none; /* Fica invisível até o menu ser aberto */
		background-color: transparent; /* Transparente */
	}
	/* Conf Index*/
	.menu-lateral {
		height: 100%;
		width: 0;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #9f9f9f;
		overflow-x: hidden;
		transition: width 0.3s ease;
		padding-top: 60px;
	}

	.menu-lateral.closed {
		padding-top: 0;
		overflow: hidden;
	}

	main.menu-aberto {
		margin-left: 0px;
	}

	.menu-lateral a {
		padding: 15px 20px;
		text-decoration: none;
		font-size: 18px;
		color: rgb(0, 0, 0);
		display: block;
		transition: 0.3s;
	}

	.menu-lateral a:hover {
		background-color: #575757;
	}

	.menu-lateral .closebtn {
		position: absolute;
		top: 0;
		right: 20px;
		font-size: 36px;
		margin-left: 60px;
		color: white;
	}

	.openbtn {
		font-size: 30px;
		cursor: pointer;
		background-color: #f7f6f6;
		color: rgb(0, 0, 0);
		border: none;
		padding: 10px 15px;
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 1; /* Mantém o botão acima de outros elementos */
	}

	.openbtn:hover {
		background-color: #9f9f9f;
		border-radius: 30px;
	}

	/* Faz o iframe ocupar todo o espaço dentro do main */
	.mtwon, .mone {
		display: none; /* Escondemos o conteúdo inicialmente */
		width: 100%;
		height: 100%;
	}

	.iframe-ativo {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
	}

	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}

	footer {
		height: auto;
	}

	/* Estilo para sobrepor uma área de clique fora do menu */
	/* Overlay que fecha o menu ao clicar fora */
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent; /* Torna o fundo do overlay invisível */
		z-index: 0; /* Colocada atrás do menu lateral */
		display: none; /* Inicialmente invisível */
	}